name: identification-service

services:
  backend:
    container_name: backend
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: prod
    ports:
      - "8001:8001"
    restart: unless-stopped
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`id.digidex.bio`) && (PathPrefix(`/api`) || PathPrefix(`/accounts`) || PathPrefix(`/_allauth`))"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls=true"
      - "traefik.http.routers.backend.priority=1000"
      - "traefik.http.services.backend.loadbalancer.server.port=8001"
    env_file:
      - ./backend/.env.prod

  frontend:
    container_name: frontend
    build:
      context: ../
      dockerfile: id/frontend/Dockerfile
      target: prod
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - web
    depends_on:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`id.digidex.bio`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.priority=10"
      - "traefik.http.services.frontend.loadbalancer.server.port=3001"

networks:
  web:
    external: true