name: identification-service

secrets:
  jwt_private_key:
    file: ../secrets/private_key.pem

services:
  id-backend:
    container_name: id-backend
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    secrets:
      - source: jwt_private_key
        uid: "1000"   # web user's UID
        gid: "1000"
        mode: 0400    # owner read-only  
    environment:
      - JWT_PRIVATE_KEY_FILE=/run/secrets/jwt_private_key
    networks:
      - digidex-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.id-backend.rule=Host(`id.digidex.bio`) && (PathPrefix(`/api`) || PathPrefix(`/accounts`) || PathPrefix(`/_allauth`))"
      - "traefik.http.routers.id-backend.entrypoints=websecure"
      - "traefik.http.routers.id-backend.tls=true"
      - "traefik.http.routers.id-backend.priority=1000"
      - "traefik.http.services.id-backend.loadbalancer.server.port=8001"
    env_file:
      - ./backend/.env.prod

  id-frontend:
    container_name: id-frontend
    build:
      context: ../
      dockerfile: id/frontend/Dockerfile
      target: prod
    restart: unless-stopped
    networks:
      - digidex-net
    depends_on:
      - id-backend
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.id-frontend.rule=Host(`id.digidex.bio`)"
      - "traefik.http.routers.id-frontend.entrypoints=websecure"
      - "traefik.http.routers.id-frontend.tls=true"
      - "traefik.http.routers.id-frontend.tls.certresolver=le"
      - "traefik.http.routers.id-frontend.rule=Host(`id.digidex.bio`) || Host(`www.id.digidex.bio`)"
      - "traefik.http.routers.id-frontend.priority=10"
      - "traefik.http.services.id-frontend.loadbalancer.server.port=5173"

networks:
  digidex-net:
    external: true